* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 计算方法  15 / (1920/100) */
  font-size: 0.78125vw !important;
  overflow-x: hidden;
}

body {
  height: 50000px;
  background-color: #fafafa;
}

.screen {
  position: relative;
  width: 100%;
  height: 100vh;
}

.kv-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
}

.kv-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* 第二屏幕的样式 */

.summary-content {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100vh;
  transform: translate(-50%, 0);
}

.summary-content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text1 {
  position: absolute;
  top: 60rem;
  left: 21rem;
  opacity: 0;
  font-size: 4rem;
  color: #fff;
}

.text2 {
  position: absolute;
  top: 29.266666666rem;
  left: 29.333333333rem;
  opacity: 0;
  font-size: 8rem;
  color: #fff;
}

/* 第三屏幕样式 */

.color-img {
  width: 49em;
  position: absolute;
  top: 12em;
  left: 40em;
}

.color1 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 90em;
}

.color2 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 100em;
  scale: 1.1;
}

.color3 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 110em;
  scale: 1.2;
}

.color4 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 120em;
  scale: 1.3;
}

/* 第四屏动画 */
.parallel {
  width: 100%;
  height: 100%;
  margin-top: 0;
  position: relative;
  overflow: hidden;
  z-index: 50;
  box-sizing: border-box;
}

.page1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: pink; */
}
.page2 {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 128em;
  /* background-color: skyblue; */
}


.page1 .title {
  width: 100%;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(300deg, #4acbff 40%, #93ebff 47%, #ffd178 65%);
  font-size: 8em;
  font-family: HanyiVar-vivo-hwid-65;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.page1 .video1 {
  width: 20.3em;
  position: absolute;
  left: 40em;
  top: 50%;
  transform: translateY(-50%);
}

.page1 .info {
  position: absolute;
  left: calc(50% + 7em);
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  font-size: 1em;
  font-family: HanyiVar-vivo-hwid-65;
  color: #272727;
}



.page2 .video2 {
  margin-left: 10em;
  width: 68em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page2 .info {
  padding-top: 45px;
  margin-left: 10em;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* 第五屏动画 */


.rom-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.rom-txt {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font-size: 20em;
  text-align: center;
  font-family: HanyiVar-vivo-hwid-65;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(110deg, #58b7f4 35%, #9ee6fa 55%);
  background-size: 200% 100%;
  background-position: left center;
  
}

.rom-img {
  position: absolute;
  width: 127em;
  left: 0;
  top: calc(50% + 45px);
  transform: translateY(-50%);
}

.pic1,
.pic7 {
  width: 11.266666666em;
  position: absolute;
  bottom: 5.26em;
}

.pic2,
.pic6 {
  width: 13.066666666em;
  position: absolute;
  bottom: 3.17em;
}

.pic3,
.pic5 {
  width: 14.866666666em;
  position: absolute;
  bottom: 1.06em;
}

.pic4 {
  width: 18.75em;
  bottom: 0;
  margin-left: 54.125em;
}

.pic1,
.pic2,
.pic3 {
  left: 55.125em;
  z-index: -1;
}

.pic5,
.pic6,
.pic7 {
  right: 55.125em;
  z-index: -1;
}

.pic img {
  position: absolute;
}